* {
  box-sizing: border-box;
}

body {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
}
